<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Detail</title>
    <link rel="stylesheet" th:href="@{/css/studentDetail.css}">
</head>
<body>
    <h1 th:text="'Name: ' + ${student.name}"></h1>
    <h1 th:text="'Code: ' + ${student.code}"></h1>
    <h1 th:text="'Program: ' + ${student.program}"></h1>

    <br>

    <h1>Courses List</h1>

    <ul>
        <li th:each="course : ${courses}" th:text="${course.name}"></li>
    </ul>

</body>
</html>